//@import "../../../../../../../../../assets/sass/coolors"; /*ESCALA DE COLORES*/

.mat-column-file {
  width: 150px;
  text-align: left;
}

.mat-column-action {
  width: 70px;
  text-align: right;
}

.extraTitleForm {
  font-family: "Rubik Bold";
  font-size: 14px;
  text-transform: uppercase;
}
