table {
  width: 100%;
  text-align: left;
}

mat-card {    
  margin: 10px;
}

mat-toolbar {
  height:64px;
}

.example-container{
  position: absolute;
  top: 130px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.demo-full-width {
  margin-bottom: 12px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.save-btn {
  background-color: #033111;
}