<div fxLayout="row" style="padding-top: 0px; padding-left: 0px;margin-left: 0px;"
  class="example-container"
  infiniteScroll
  [infiniteScrollDistance]="8"
  [scrollWindow]="false"
  (scrolled)="onScroll()">

<div fxLayout="column" style="margin-left: 10px;margin-right: 10px;">
  
  <div fxLayout="row" style="height:35px;">
      <mat-icon style="font-size: 28px; padding-right: 10px;">assignment</mat-icon>
      <div class="header">
          <b style="font-size:22px;">Configuración</b>
      </div>
      <div fxFlex></div>
  </div>

  <form class="formSms" id="contact-form" [formGroup]="form"
    onkeypress="return event.keyCode != 13;">

    <mat-toolbar style="margin-top: 0px; position: fixed; z-index: 1; padding-left: 0px;
      border-bottom: 1px solid lightgray;">
      <div fxLayoutAlign="start start" fxLayoutGap="10px">
        <button mat-mini-fab (click)="goBack()" color="primary"
          matTooltip="Retroceder al menu principal"
          matTooltipShowDelay="500"
          matTooltipPosition="below">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()"
          matTooltip="Guarda los datos de configuración del sistema"
          matTooltipShowDelay="500"
          matTooltipPosition="below">
          <mat-icon>save</mat-icon>
          Grabar
        </button>
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div fxFlex></div>
      
    <div class="example-container">
          
      <div fxLayout="column" style="margin-top: 80px;">

        <div fxLayout="row" fxLayout.xs="column wrap" fxFlex fxLayoutGap="20px">
          <mat-form-field fxFlex fxFlex.gt-xs="45" class="demo-full-width">
            <mat-label>Tipo de movimiento</mat-label>
            <input matInput formControlName="tm" autofocus required>
          </mat-form-field>

          <mat-form-field fxFlex fxFlex.gt-xs="45" class="demo-full-width">
            <mat-label>Prefijo</mat-label>
            <input matInput formControlName="prefijo" required>
          </mat-form-field>

          <mat-form-field fxFlex fxFlex.gt-xs="45" class="demo-full-width">
            <mat-label>Consecutivo</mat-label>
            <input matInput formControlName="consecutivo" type="number" min="0" [max]="999999" required>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column wrap" fxFlex fxLayoutGap="20px">
          <mat-form-field fxFlex fxFlex.gt-xs="40" class="demo-full-width">
            <mat-label>Nro. de registros por página</mat-label>
            <input matInput formControlName="pagenumber" type="number" min="0" [max]="999" required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div fxHide fxFlex="1" fxShow.gt-xs></div>
</div>  