/*table {
  width: 100%;
  text-align: left;
}

mat-card {    
  margin: 10px;
}

.example-container{
  position: relative;
  top: 20px;
  bottom: 40px;
  left: 10;
  right: 0;
}

.demo-full-width {
  margin-bottom: 15px;
}*/