@import "../../../../../../../../assets/sass/coolors"; /*ESCALA DE COLORES*/

.mat-column-createdAt {
  width: 150px;
  text-align: left;
}

.mat-column-action {
  width: 70px;
  text-align: right;
}

.extraTitleForm {
  font-family: "Rubik Bold";
  font-size: 22px;
  //text-transform: uppercase;
}

.msgDataNot {
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}