<body>

<h2 align="center">Ayuda en Línea</h2>

<div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="20px">
	<button mat-raised-button (click)="goBack()" color="primary">
		<mat-icon>exit_to_app</mat-icon>
		Salir
	</button>
</div>
<br />
<div class="leyenda"><br />
	<div align="justify" class="estilo">Ayuda personalizada.</div><br>
	<p>Si tiene dudas sobre cómo buscar o utilizar esta pagina o información en sosinformatica.com.co
		puede comunicarse con el teléfono 2681506 de Bogotá. También, puede escribir al correo 
		sos@sosinformatica.com.co</p>

	<div align="justify" class="estilo">S.O.S. TECHNOLOGY </div><br>
	<p>Es una empresa líder en la producción de software aeronautico de Colombia, multi-usuario/multi-empresa, 
		para la integración de procesos informáticos empresariales. Sus aplicativos han estado en el 
		mercado durante los últimos quince años y se encuentran instalados en más de 70 empresas nacionales
		 y extranjeras. </p>

	<div align="justify" class="estilo">Pólitica de Privacidad.</div><br>

	<div align="justify" class="estilo">Seguridad y protección de sus datos personales.</div><br>
	
	<p>S.O.S. TECHNOLOGY, empresa titular del web site "sosinformatica.com.co" sólo obtiene y conserva 
		la siguiente información acerca de los visitantes de nuestra web. El nombre del dominio del 
		proveedor y/o la dirección IP que les da acceso a la red. De esta manera podemos elaborar 
		estadisticas sobre los paises y servidores que visitan mas a menudo nuestra web. La fecha y 
		hora de acceso anuestro sistio web. Ello nos permite averiguar las horas de mas afluencia, y 
		hacer los ajustes precisos para evitar problemas de saturación en nuestra horas punta. 
		La información obtenido es totalmente anónima, y en ningun caso puede ser asociada a un 
		usuario concreto e identificado. </p>

	<div align="justify" class="estilo">Su privacidad.</div><br>
	<p>S.O.S. TECHNOLOGY S.A. respeta su privacidad. Toda información que Usted nos proporcione se 
		tratara con sumo ciudado y con la mayor seguridad posible, y sólo se utilizará de acuerdo 
		con los límites establecidos en este documento.</p>

	<div align="justify" class="estilo">Cómo S.O.S. utiliza su información.</div><br>
	<p>S.O.S. utiliza la información que usted proporciona con los siguientes fines: (i) para expandir 
		ofertas de comercialización y para ubicar productos y servicios que podrán ser de su interés;
		 (ii) para personalizar y mejorar nuestros productos y servicios; y (iii) para fines estadísticos.</p>

	<div align="justify" class="estilo">Recomendaciones generales sobre la protección de su privacidad.</div><br>
	<p>Usted también tiene un importante papel que desempeñar en la protección de su privacidad. 
		Expresamente recomendamos que no divulgue su contraseña a ninguna persona, sea por teléfono, 
		mensaje de correo u otro medio. Ademas recomendamos que se desconecte del sitio y que cierre 
		la ventana del navegador al finalizar su visita.</p>

	<div align="justify" class="estilo">Propiedad Intelectual.</div><br>
	<p>Los elementos incluidos en este sitio web (fotos,diseños,logos,etc.) no pueden ser 
		reproducidos, usados, adaptados o comercializados sin la aprobacion escrita de S.O.S. 
		TECHNOLOGY.</p>

	<div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="20px">	
		<button mat-raised-button (click)="goBack()" color="primary" >
			<mat-icon>exit_to_app</mat-icon>
			Salir
		</button>
	</div>
</div>
</body>