<div fxLayout="column" style="margin-left: 10px;margin-right: 10px;">

  <div fxFlex="2" fxHide fxShow.gt-md></div>

  <div fxLayout="row" style="height:40px;">
    <mat-icon style="font-size: 28px; padding-right: 10px;">person</mat-icon>
    <b style="padding-top: 0px; font-size: 22px">{{user.id ? 'Editar' : 'Crear'}} Usuario</b>
  </div>
  <div fxFlex></div>

  <mat-divider></mat-divider>

  <form class="formSms" fxLayout="row" id="contact-form" [formGroup]="form"
      onkeypress="return event.keyCode != 13;">

    <div fxLayoutAlign="start start" fxLayoutGap="10px">
      <button mat-mini-fab (click)="goBack()" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button (click)="save()" mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
        Grabar
      </button>
      <button (click)="delete()" [disabled]="!user.id" mat-raised-button color="warn">
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
    </div>
    <div fxFlex></div>

    <div class="example-container" style="margin-left: 10px;margin-right: 10px;">

      <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
        <mat-form-field fxFlex fxFlex.gt-xs="25" class="demo-full-width">
            <mat-label>Login de Usuario</mat-label>
            <input matInput formControlName="login" autofocus required>
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.gt-xs="25">
          <mat-select placeholder="Rol de Usuario" formControlName="rol" [compareWith]="compareFn" >
              <mat-option *ngFor="let rol of rolRecords" [value]="rol" >
                  {{ rol.nombrerol }}
              </mat-option>
          </mat-select>   
        </mat-form-field>
        <div fxHide fxFlex="2" fxShow.gt-xs></div>
      </div>

      <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
        <mat-form-field fxFlex fxFlex.gt-xs="25" class="demo-full-width">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.gt-xs="25" class="demo-full-width">
          <mat-label>Apellido de Usuario</mat-label>
          <input matInput formControlName="apellido" required>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="20px">

        <div fxLayout="column" *ngIf="user.id" >
          <button mat-raised-button color="primary" *ngIf="!showPassword" (click)="showPassword = true;">
            <mat-icon>autorenew</mat-icon>
            Cambiar contraseña
          </button>
          <button mat-mini-fab color="primary" *ngIf="showPassword" (click)="showPassword = false;">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>

        <mat-form-field fxFlex fxFlex.gt-xs="22" class="demo-full-width" *ngIf="showPassword">
          <input matInput type="password" placeholder="Contraseña" 
                 formControlName="password"
                 autocomplete="new-password"
                 required>
          <mat-error *ngIf="password.errors?.required">Required</mat-error>
          <mat-error *ngIf="password.errors?.minlength">Too short</mat-error>
          <mat-error *ngIf="password.errors?.maxlength">Too long</mat-error>
          <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex fxFlex.gt-xs="22" class="demo-full-width" *ngIf="showPassword">
          <input matInput type="password" 
                 placeholder="Repetir contraseña" 
                 formControlName="password2" 
                 autocomplete="new-password"
                 required>
          <mat-error *ngIf="password2.errors?.required">Required</mat-error>
          <mat-error *ngIf="password2.errors?.minlength">Too short</mat-error>
          <mat-error *ngIf="password2.errors?.maxlength">Too long</mat-error>
          <mat-error *ngIf="password2.errors?.notEqual">Passwords are not equal</mat-error>
          <mat-hint align="end">{{password2.value?.length || 0}}/20</mat-hint>
        </mat-form-field>          
        <mat-error *ngIf="password2.errors?.notEqual">Las contraseñas no son iguales</mat-error>

      </div>

      <h3 style="margin-top: 10px;">Datos personales</h3>
  
      <div fxLayout="column" style="margin-bottom: 15px;">
  
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <mat-form-field fxFlex fxFlex.gt-xs="25" class="demo-full-width">
            <input matInput placeholder="Cargo" formControlName="cargo" >
          </mat-form-field>
          <mat-form-field fxFlex fxFlex.gt-xs="25">
              <input matInput placeholder="Email" formControlName="email" >
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <mat-form-field fxFlex fxFlex.gt-xs="25">
            <input matInput placeholder="Dirección" formControlName="direccion" >
          </mat-form-field>
          <mat-form-field fxFlex fxFlex.gt-xs="25">
              <input matInput placeholder="Teléfono" formControlName="telefono" >
          </mat-form-field>
          
        </div>
      </div>
    </div>
  </form>
  <div fxHide fxFlex="2" fxShow.gt-md></div>
</div>
